.career {
    padding-top: 150px;
    padding-bottom: 100px;

    .wrap {

        padding: 0 220px;
    }



    h1.title {
        font-weight: 900;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        width: 459px;
        margin-bottom: 24px;
    }

    &__info {
        display: flex;
    }

    &__local,
    &__time {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 35px;

        svg {
            margin-right: 10px;
        }
    }

    &__descr {
        margin-top: 24px;
    }


    h2 {
        margin-bottom: 24px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #CECED0;
            list-style-type: none;
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            &::before {
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background: #E44C65;
                margin-right: 12px;
            }
        }
    }

    .btn {
        margin-top: 95px;
        width: 120px;
        height: 48px;
    }

}