.law {
    padding-top: 150px;
    padding-bottom: 100px;

    .wrap {
        padding: 0 220px;
    }


    h1.title {
        font-weight: 900;
        font-size: 36px;
        line-height: 48px;
        color: #FFFFFF;
        margin-bottom: -50px;
    }
}